*{
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
/* body{
        display:flex;

} */
.container{
    margin-top: 20px;
    
}

.operatorBox{
    color: blue;
    border-radius: 2vmin;
}
.operator:hover{
    background-color: aqua;
}
.operator{
    margin-top: 9px;
    height: 8.5vmin;
    width: 10.7vmin;
    margin-bottom: 10px;
    font-size: 8vmin;
    border: none;
    background-color: #348FF7;
    border-radius: 2vmin;
}



.body2{
    background-color:#171616;
    width: 55vmin;
    height: 98vmin;
    border-radius: 30px;
}
#input{
    height: 8vmin;
    width: 44.5vmin;
    font-size: 6vmin;
    text-align: center;
    border: none;
    border-radius: 2vmin;
    margin-left: 9.5%;
}

.digitclass1{
    display:block;
    width: 455%;
    border-radius: 80%;
}

.digitclass2{
    width: 19%;
    border-radius: 80%;
    border: none;
    display: block;
    margin-left: 0.5%;
}

.digit{
    background-color: #E9E9E9;
    width: 14.5vmin;
    height: 10vmin;
    border-radius: 80px;
    border: none;
    font-size: 25px;
    margin-bottom: 5px;
}
.ac{
    background-color: #2BDC17;
    width: 14.5vmin;
    height: 10vmin;
    border-radius: 80px;
    border: none;
    font-size: 25px;
}


#enter{
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 14.5vmin;
    height: 10vmin;
    border-radius: 80px;
    border: none;
    font-size: 125%;
    margin-bottom: 5px;

}
#result{
    color: rgb(255, 255, 255);
    width: 46.8vmin;
    height: 8vmin;
    margin-top: 1.5%;
    background-color:#5058cd;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 5vmin;
    border-radius: 2vmin;
}

#style {
  position: relative;
  top: 10px;
  height: 1.8vmin;
  width: 12vmin;
  background-color: white;
  border-radius: 50px;
  /* margin: 0 auto; */
  /* z-index: 2; */
}


#calHead{
  
    color: #ffffff;
    /* height: 2vmin;
    width: 34.6vmin; */
    align-items: center;
    /* height: 5vmin;
    width: 38vmin; */
    margin-top: 8%;
    display:flex;
    font-size: 135%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Add this line */
  height: 100vh;
  background-color: #fddfbe;
}


.credit {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3.5vmin;
    font-weight: 900;        /* Extra bold */
    color: black;
    font-family: 'Arial Black', 'Segoe UI', sans-serif;
}
