*{
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.container{
    margin-top: 20px;
    
}

.operatorBox{
    color: blue;
    border-radius: 2vmin;
}
.operator:hover{
    background-color: aqua;
}
.operator{
    margin-top: 9px;
    height: 8.5vmin;
    width: 10.7vmin;
    margin-bottom: 10px;
    font-size: 8vmin;
    border: none;
    background-color: #348FF7;
    border-radius: 2vmin;
}



.body2{
    background-color:#171616;
    width: 55vmin;
    height: 98vmin;
    border-radius: 30px;
}
#input{
    height: 8vmin;
    width: 44.5vmin;
    font-size: 6vmin;
    text-align: center;
    border: none;
    border-radius: 2vmin;
    margin-bottom: 10px;

}


.digitclass2{
    width: 45.5vmin;
    border-radius: 80%;
    border: none;
}

.digit{
    background-color: #E9E9E9;
    width: 14.5vmin;
    height: 10vmin;
    border-radius: 80px;
    border: none;
    font-size: 25px;
    margin-bottom: 5px;
}
.ac{
    background-color: #2BDC17;
    width: 14.5vmin;
    height: 10vmin;
    border-radius: 80px;
    border: none;
    font-size: 25px;
}


#enter{
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 14.5vmin;
    height: 10vmin;
    border-radius: 80px;
    border: none;
    font-size: 25px;
    margin-bottom: 5px;

}
#result{
    color: rgb(255, 255, 255);
    width: 46.8vmin;
    height: 8vmin;
    margin-top: 6vmin;
    background-color:#5058cd;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 5vmin;
    border-radius: 2vmin;
}

#style {
  position: relative;
  top: 10px;
  height: 1.8vmin;
  width: 12vmin;
  background-color: white;
  border-radius: 50px;
  /* margin: 0 auto; */
  /* z-index: 2; */
}


#calHead{
  
    color: #ffffff;
    height: 2vmin;
    width: 34.6vmin;
    align-items: center;
    height: 300vmin;
    width: 4vmin;
    margin-top: 30px;
    display: flex;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fddfbe;
}
